* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0;

  .nav-list {
    list-style: none;
    float: center;
    width: 220px;
    padding: 0;
    margin: auto;

    .nav-item {
      display: inline-block;
      margin: 0.5rem auto;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.7rem;
    }

    a:active {
      color: #0c007c;
    }
  }
}

main {
  margin-top: 2.5rem;

  .title-card {
    position: relative;
    padding: 1rem 2rem;
    color: #2b2b2b;

    .shopping-cart {
      position: absolute;
      right: 13.7vw;
      width: 5vw;
      height: 5vw;
      margin-right: 1.5rem;
      margin-top: 0.3rem;
      background: #fff;
      border-radius: 15px;
    }
    .cart-size {
      position: absolute;
      right: 17.7vw;
      top: 20.5px;
      font-weight: bold;
      pointer-events: none;
    }

    .title {
      text-align: right;
      margin: 3px 0;
      font-size: 5vw;
    }
    .subtitle {
      text-align: right;
      margin: 2px 0;
      font-size: 2vw;
    }
  }

  .home-image {
    position: relative;
    width: 100%;
    height: auto;
  }

  .about {
    margin-left: 1rem;
  }

  .videos {
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      .embedded-vimeo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .gallery {
    margin: 0 0.5rem;
    .gallery-image-container {
      display: inline-block;
      width: 32%;
      margin: 0.2rem;
      .gallery-image {
        height: 100%;
        width: 100%;
      }
    }
  }

  .product-section {
    .product-container {
      .product-title {
        margin: 1rem;
      }

      .product-body {
        margin: 1rem;
        display: flex;
        .image-container {
          .product-image {
            height: 150px;
            border: solid #000 0.1rem;
          }
        }

        .about-product {
          padding-left: 1rem;
          .product-info {
            list-style: none;
            margin: 0;
            padding: 0;

            .product-price {
              font-weight: bold;
              font-size: 18px;
              padding-bottom: 1rem;
            }

            .product-description {
              padding-bottom: 4rem;
            }
          }

          .add-to-cart-form {
            .add-to-cart {
              display: inline-block;
              background: #2b2b2b;
              color: #fff;
              border: none;
              border-radius: 50px;
              padding: 8px 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .cart-items {
    padding: 1rem;
    .cart-table {
      .header-row {
        .cart-table-header {
          text-align: left;
          padding-left: 0.5rem;
        }
      }

      .cart-item {
        .item-cell {
          padding: 1vw;

          .add-sub-form {
            display: inline-block;
            padding-left: 0.1rem;
            cursor: pointer;
            .add-button {
              background: #5b5b5b;
              color: #fff;
              font-size: 12px;
              border: none;
              padding: 4px 8px;
              text-align: center;
              border-radius: 5px;
            }
            .sub-button {
              background: #5b5b5b;
              color: #fff;
              font-size: 12px;
              border: none;
              padding: 4px 9.5px;
              text-align: center;
              border-radius: 5px;
            }
          }
          .remove-item-form {
            .remove-item {
              background: rgb(148, 0, 0);
              color: #fff;
              font-size: 12px;
              border: none;
              padding: 4px 8px;
              text-align: center;
              border-radius: 10px;
            }
          }
        }
      }
    }
    .total-cost {
      padding-left: 11.3rem;
    }
  }

  .cart-nav {
    width: 300px;
    display: flex;
    .cart-nav-form {
      width: 100px;
      margin: 1rem;
      flex: 1;
      .back-to-shop {
        background: #2b2b2b;
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        border-radius: 50px;
      }
    }
    .checkout {
      flex: 1;
      align-self: center;
      .checkout-image {
        margin-top: 0.6rem;
        width: 150px;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem;

  .footer-info {
    width: 45%;
    float: left;
  }

  .copyright-container {
    width: 45%;
    float: right;

    .copyright {
      float: right;
    }
  }
}
