* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0;

  .nav-list {
    list-style: none;
    float: center;
    width: 220px;
    padding: 0;
    margin: auto;

    .nav-item {
      display: inline-block;
      margin: 0.5rem auto;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.7rem;
    }

    a:active {
      color: #0c007c;
    }
  }
}

main {
  margin-top: 2.5rem;

  .title-card {
    position: relative;
    padding: 2rem 10px;
    width: 50%;
    color: #2b2b2b;

    .title {
      margin: 3px 0;
    }
    .subtitle {
      margin: 2px 0;
    }
  }

  .home-image {
    position: absolute;
    top: 2.5rem;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}
