* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0;

  .nav-list {
    list-style: none;
    float: center;
    width: 220px;
    padding: 0;
    margin: auto;

    .nav-item {
      display: inline-block;
      margin: 0.5rem auto;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.7rem;
    }

    a:active {
      color: #0c007c;
    }
  }
}

main {
  margin-top: 2.5rem;

  .title-card {
    position: relative;
    padding: 1rem 2rem;
    color: #2b2b2b;

    .title {
      text-align: right;
      margin: 3px 0;
      font-size: 5vw;
    }
    .subtitle {
      text-align: right;
      margin: 2px 0;
      font-size: 2vw;
    }
  }

  .home-image {
    position: relative;
    width: 100%;
    height: auto;
  }

  .about {
    margin-left: 1rem;
  }

  .videos {
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      .embedded-vimeo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .gallery {
    margin: 0 0.5rem;
    .gallery-image-container {
      display: inline-block;
      width: 32%;
      margin: 0.2rem;
      .gallery-image {
        height: 100%;
        width: 100%;
      }
    }
  }

  .product-section {
    color: #fff;
    .product-container {
      background: #2b2b2b;
      max-width: 350px;
      margin: 1rem;
      .product-title {
        padding-top: 1rem;
        padding-left: 1rem;
      }

      .product-image {
        max-width: 300px;
        margin-left: 1.25rem;
      }

      .product-info {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 1.25rem;
        margin-top: 0.5rem;
        .product-price {
          margin-bottom: 0.5rem;
        }

        .product-description {
          margin-bottom: 0.5rem;
        }

        .add-to-cart {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem;

  .footer-info {
    width: 45%;
    float: left;
  }

  .copyright-container {
    width: 45%;
    float: right;

    .copyright {
      float: right;
    }
  }
}
