{% include 'base.html' %}

{% block content %}
<main class='main'>
    <div class="title-card">
        <h1 class='title'>Kevin Goodman</h1>
        <h3 class="subtitle">{{bio.email}}</h3>
        <h3 class="subtitle">{{bio.phone}}</h3>
    </div>

    <img class='home-image' src="{{home_image}}" alt="home image">

    <div class="about">
        <h2 class="about-title">About Kevin</h2>
        <p class='about-text'>{{bio.about_me}}</p>
        <br>
    </div>

    <div class="videos">
        {% for link in vimeo_links %}
        <div class="video-wrapper">
            <iframe class='embedded-vimeo' src="{{link.video}}" frameborder="0" allowfullscreen></iframe>
        </div>
    {% endfor %}
    </div>
    
</main>
{% endblock content %}

{% include 'footer.html' %}
