* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

html,
body {
  height: 100%;
  margin: 0; }

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0; }
  .navbar .nav-list {
    list-style: none;
    float: center;
    width: 220px;
    padding: 0;
    margin: auto; }
    .navbar .nav-list .nav-item {
      display: inline-block;
      margin: 0.5rem auto; }
    .navbar .nav-list a:link,
    .navbar .nav-list a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.7rem; }
    .navbar .nav-list a:active {
      color: #0c007c; }

main {
  margin-top: 2.5rem; }
  main .title-card {
    position: relative;
    padding: 1rem 2rem;
    color: #2b2b2b; }
    main .title-card .shopping-cart {
      position: absolute;
      right: 13.7vw;
      width: 5vw;
      height: 5vw;
      margin-right: 1.5rem;
      margin-top: 0.3rem;
      background: #fff;
      border-radius: 15px; }
    main .title-card .title {
      text-align: right;
      margin: 3px 0;
      font-size: 5vw; }
    main .title-card .subtitle {
      text-align: right;
      margin: 2px 0;
      font-size: 2vw; }
  main .home-image {
    position: relative;
    width: 100%;
    height: auto; }
  main .about {
    margin-left: 1rem; }
  main .videos .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    main .videos .video-wrapper .embedded-vimeo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  main .gallery {
    margin: 0 0.5rem; }
    main .gallery .gallery-image-container {
      display: inline-block;
      width: 32%;
      margin: 0.2rem; }
      main .gallery .gallery-image-container .gallery-image {
        height: 100%;
        width: 100%; }
  main .product-section .product-container {
    display: inline-block;
    border: solid #2b2b2b 0.2rem;
    border-radius: 5px;
    max-width: 340px;
    margin: 1rem; }
    main .product-section .product-container .product-title {
      padding-left: 1.25rem;
      text-align: center;
      font-size: 24px; }
    main .product-section .product-container .product-image {
      max-width: 300px;
      margin: 0 1.25rem;
      border: #000 solid 0.1rem; }
    main .product-section .product-container .product-info {
      float: left;
      width: 40%;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 1.25rem;
      margin-top: 0.5rem;
      font-weight: bold; }
      main .product-section .product-container .product-info .product-price {
        margin-bottom: 0.5rem; }
      main .product-section .product-container .product-info .product-description {
        margin-bottom: 0.5rem; }
    main .product-section .product-container .add-to-cart {
      float: right;
      margin: 1.25rem;
      background: #2b2b2b;
      color: #fff;
      border: none;
      border-radius: 50px;
      padding: 8px 16px;
      text-align: center; }
  main .cart-items {
    padding: 1rem; }
    main .cart-items .cart-table .header-row .cart-table-header {
      text-align: left;
      padding-left: 0.5rem; }
    main .cart-items .cart-table .cart-item .item-cell {
      padding: 0.3rem; }
      main .cart-items .cart-table .cart-item .item-cell .add-sub-form {
        display: inline-block;
        padding-left: 0.1rem; }
        main .cart-items .cart-table .cart-item .item-cell .add-sub-form .add-button {
          background: #5b5b5b;
          color: #fff;
          font-size: 12px;
          border: none;
          padding: 4px 8px;
          text-align: center;
          border-radius: 5px; }
        main .cart-items .cart-table .cart-item .item-cell .add-sub-form .sub-button {
          background: #5b5b5b;
          color: #fff;
          font-size: 12px;
          border: none;
          padding: 4px 9.5px;
          text-align: center;
          border-radius: 5px; }
      main .cart-items .cart-table .cart-item .item-cell .remove-item-form .remove-item {
        background: #940000;
        color: #fff;
        font-size: 12px;
        border: none;
        padding: 4px 8px;
        text-align: center;
        border-radius: 10px; }
    main .cart-items .total-cost {
      padding-left: 11.3rem; }
  main .cart-nav .cart-nav-form {
    width: 100px;
    margin: 1rem;
    display: inline-block; }
    main .cart-nav .cart-nav-form .back-to-shop {
      background: #2b2b2b;
      color: #fff;
      border: none;
      padding: 8px 16px;
      text-align: center;
      border-radius: 50px; }
    main .cart-nav .cart-nav-form .checkout {
      background: #2b2b2b;
      color: #fff;
      border: none;
      padding: 8px 16px;
      text-align: center;
      border-radius: 50px; }

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem; }
  .footer .footer-info {
    width: 45%;
    float: left; }
  .footer .copyright-container {
    width: 45%;
    float: right; }
    .footer .copyright-container .copyright {
      float: right; }
