* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

html,
body {
  height: 100%;
  margin: 0; }

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0; }
  .navbar .nav-list {
    list-style: none;
    float: center;
    width: 220px;
    padding: 0;
    margin: auto; }
    .navbar .nav-list .nav-item {
      display: inline-block;
      margin: 0.5rem auto; }
    .navbar .nav-list a:link,
    .navbar .nav-list a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.7rem; }
    .navbar .nav-list a:active {
      color: #0c007c; }

main {
  margin-top: 2.5rem; }
  main .title-card {
    position: relative;
    padding: 1rem 2rem;
    color: #2b2b2b; }
    main .title-card .title {
      text-align: right;
      margin: 3px 0;
      font-size: 5vw; }
    main .title-card .subtitle {
      text-align: right;
      margin: 2px 0;
      font-size: 2vw; }
  main .home-image {
    position: relative;
    width: 100%;
    height: auto; }
  main .about {
    margin-left: 1rem; }
  main .videos .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    main .videos .video-wrapper .embedded-vimeo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  main .gallery {
    margin: 0 0.5rem; }
    main .gallery .gallery-image-container {
      display: inline-block;
      width: 32%;
      margin: 0.2rem; }
      main .gallery .gallery-image-container .gallery-image {
        height: 100%;
        width: 100%; }
  main .product-section {
    color: #fff; }
    main .product-section .product-container {
      background: #2b2b2b;
      max-width: 350px;
      margin: 1rem; }
      main .product-section .product-container .product-title {
        padding-top: 1rem;
        padding-left: 1rem; }
      main .product-section .product-container .product-image {
        max-width: 300px;
        margin-left: 1.25rem; }
      main .product-section .product-container .product-info {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 1.25rem;
        margin-top: 0.5rem; }
        main .product-section .product-container .product-info .product-price {
          margin-bottom: 0.5rem; }
        main .product-section .product-container .product-info .product-description {
          margin-bottom: 0.5rem; }
        main .product-section .product-container .product-info .add-to-cart {
          margin-bottom: 1rem; }

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem; }
  .footer .footer-info {
    width: 45%;
    float: left; }
  .footer .copyright-container {
    width: 45%;
    float: right; }
    .footer .copyright-container .copyright {
      float: right; }
