* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

html,
body {
  height: 100%;
  margin: 0; }

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0.3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center; }
  .navbar .nav-list {
    justify-self: center;
    list-style: none;
    padding: 0;
    margin: auto; }
    .navbar .nav-list .nav-item {
      display: inline-block;
      margin: 0.2rem auto; }
    .navbar .nav-list a:link,
    .navbar .nav-list a:visited {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding: 0.2rem 0.7rem;
      font-size: 2vw; }
      @media (max-width: 800px) {
        .navbar .nav-list a:link,
        .navbar .nav-list a:visited {
          font-size: 4vw; } }
    .navbar .nav-list a:active {
      color: #0c007c; }
    .navbar .nav-list a:hover {
      color: #0f0099;
      transition: ease-in 0.25s; }

main {
  margin-top: 2.5rem; }
  main .title-card {
    position: relative;
    padding: 1rem 2rem;
    color: #2b2b2b; }
    main .title-card .cart-and-title {
      display: flex;
      justify-content: flex-end; }
      main .title-card .cart-and-title .cart-logo {
        flex-basis: 5%; }
        main .title-card .cart-and-title .cart-logo .shopping-cart {
          height: 6vw;
          width: 6vw; }
      main .title-card .cart-and-title .title {
        flex-basis: 15%; }
      @media (max-width: 800px) {
        main .title-card .cart-and-title .title {
          font-size: 10vw; }
        main .title-card .cart-and-title .subtitle {
          font-size: 4vw; } }
    main .title-card .title {
      text-align: right;
      margin: 3px 0;
      font-size: 5vw; }
    main .title-card .subtitle {
      text-align: right;
      margin: 2px 0;
      font-size: 2vw; }
    @media (max-width: 800px) {
      main .title-card .cart-and-title {
        justify-content: center; }
        main .title-card .cart-and-title .cart-logo .shopping-cart {
          height: 8vw;
          width: 8vw; }
      main .title-card .title {
        text-align: center;
        font-size: 8vw; }
      main .title-card .subtitle {
        text-align: center;
        font-size: 4vw; } }
  main .home-image {
    display: block;
    width: 99%;
    height: auto;
    margin: 0 auto; }
  main .videos {
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    main .videos .video-wrapper {
      justify-self: center;
      align-self: center;
      width: 100%;
      height: 28vw; }
      main .videos .video-wrapper:only-child, main .videos .video-wrapper:nth-child(odd):last-child {
        height: 56vw;
        grid-column: 1/3; }
      main .videos .video-wrapper .embedded-vimeo {
        width: 100%;
        height: 100%; }
  @media (max-width: 800px) {
    main .videos {
      grid-template-columns: 1fr; }
      main .videos .video-wrapper {
        height: 56vw; } }
  main .gallery {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse; }
    main .gallery .coming-soon {
      position: absolute;
      left: 1rem; }
    main .gallery .gallery-image-container {
      flex: 1;
      flex-basis: 30%;
      margin: 0.3rem; }
      main .gallery .gallery-image-container:nth-child(8n + 4), main .gallery .gallery-image-container:nth-child(8n + 7) {
        flex-basis: 45%; }
      main .gallery .gallery-image-container:last-child {
        flex-basis: 90%; }
      main .gallery .gallery-image-container .gallery-image {
        cursor: pointer;
        height: 100%;
        width: 100%;
        object-fit: cover; }
    @media (max-width: 1080px) {
      main .gallery .gallery-image-container {
        flex-basis: 45%; } }
    @media (max-width: 800px) {
      main .gallery .gallery-image-container {
        flex-basis: 90%; } }
  main .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    vertical-align: middle; }
    main .modal #close {
      position: fixed;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s; }
      main .modal #close:hover, main .modal #close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer; }
    main .modal .modal-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      cursor: pointer;
      max-width: 98%;
      max-height: 98%; }
  main .product-section .coming-soon {
    margin-left: 1rem; }
  @media (min-width: 1440px) {
    main .product-section .product-container:first-child .product-separator {
      margin: 1rem -500px 3rem; } }
  main .product-section .product-container .product-title {
    margin: 1rem; }
  main .product-section .product-container .product-body {
    margin: 1rem;
    display: flex; }
    main .product-section .product-container .product-body .image-container .product-image {
      max-height: 200px;
      max-width: 200px;
      border: solid #000 0.1rem;
      cursor: pointer; }
    main .product-section .product-container .product-body .about-product {
      padding-left: 1rem; }
      main .product-section .product-container .product-body .about-product .product-info {
        list-style: none;
        margin: 0;
        padding: 0; }
        main .product-section .product-container .product-body .about-product .product-info .product-price {
          font-weight: bold;
          font-size: 18px;
          padding-bottom: 1rem; }
        main .product-section .product-container .product-body .about-product .product-info .product-description {
          padding-bottom: 4rem; }
      main .product-section .product-container .product-body .about-product .add-to-cart-form .add-to-cart {
        cursor: pointer;
        display: inline-block;
        background: #2b2b2b;
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 8px 16px;
        text-align: center; }
  main .cart-items {
    padding: 1rem; }
    @media (min-width: 1440px) {
      main .cart-items .cart-separator {
        margin: 1rem -500px 4rem; } }
    main .cart-items .cart-item .quantity-price-container {
      width: 300px; }
    main .cart-items .cart-item .quantity-price-container {
      display: flex; }
      main .cart-items .cart-item .quantity-price-container .quantity-container {
        flex: 1; }
        main .cart-items .cart-item .quantity-price-container .quantity-container .add-sub-form {
          display: inline-block;
          padding-left: 0;
          cursor: pointer; }
          main .cart-items .cart-item .quantity-price-container .quantity-container .add-sub-form .add-button {
            background: #5b5b5b;
            color: #fff;
            font-size: 12px;
            border: none;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer; }
          main .cart-items .cart-item .quantity-price-container .quantity-container .add-sub-form .sub-button {
            background: #5b5b5b;
            color: #fff;
            font-size: 12px;
            border: none;
            padding: 4px 9.5px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer; }
      main .cart-items .cart-item .quantity-price-container .subtotal-container {
        flex: 1; }
        main .cart-items .cart-item .quantity-price-container .subtotal-container .remove-item-form .remove-item {
          background: #940000;
          color: #fff;
          font-size: 12px;
          border: none;
          padding: 4px 8px;
          text-align: center;
          border-radius: 10px;
          cursor: pointer; }
    main .cart-items .total-cost {
      padding-left: 11.3rem; }
  main .cart-nav {
    width: 300px;
    display: flex; }
    main .cart-nav .cart-nav-form {
      width: 100px;
      margin: 1rem;
      flex: 1; }
      main .cart-nav .cart-nav-form .back-to-shop {
        background: #2b2b2b;
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer; }
    main .cart-nav .checkout {
      flex: 1;
      align-self: center; }
      main .cart-nav .checkout .checkout-image {
        margin-top: 0.6rem;
        width: 150px; }

@media (min-width: 1440px) {
  .main {
    width: 1440px;
    margin: 2.5rem auto; }
    .main .title-card .cart-and-title .cart-logo .shopping-cart {
      height: 86.4px;
      width: 86.4px; }
    .main .title-card .cart-and-title .title {
      font-size: 72px; }
    .main .title-card .title {
      font-size: 72px; }
    .main .title-card .subtitle {
      font-size: 28.8px; } }

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem; }
  .footer .footer-info {
    width: 45%;
    float: left; }
  .footer .copyright-container {
    width: 45%;
    float: right;
    text-align: right; }
    .footer .copyright-container .login {
      list-style: none;
      text-decoration: none; }
