{% include 'base.html' %}
{% load static%}

{% block content %}

<main>
    <div class="title-card">
    <a href="/shop/">
            <img src="{% static "cart.png"%}" alt="shopping cart" class="shopping-cart">
        </a>
        <h1 class="title">Cart</h1>
    </div>

    <div class="cart-items">
    <hr>
        <table class="cart-table">
            <tr class='header-row'>
                <th class="cart-table-header">Product</th>
                <th class="cart-table-header">Quantity</th>
                <th class="cart-tale-header">Price</th>
                <th class="cart-tale-header"></th>
            </tr>
            {% for item in products %}
                <tr class="cart-item">
                    <td class='item-cell'>{{item.0}}</td>
                    <td class='item-cell'>{{item.1}}
                        <form action="/shop/cart/add/{{item.4}}/" class="add-sub-form">
                            <input type="submit" value="+" class="add-button">
                        </form>
                        <form action="/shop/cart/sub/{{item.4}}/" class="add-sub-form">
                            <input type="submit" value="-" class="sub-button">
                        </form>
                    </td>
                    <td class='item-cell'>${{item.3}}</td>
                    <td class='item-cell'>
                        <form action="/shop/cart/remove/{{item.4}}/" class="remove-item-form">
                            <input type="submit" value='Remove' class='remove-item'>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="total-cost">Total: ${{total}}</p>
    </div>
    
    <br>
    <div class="cart-nav">
        <form action="/shop/" class="cart-nav-form">
            <input type="submit" value="Keep Shopping" class="back-to-shop">
        </form>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class='checkout'>
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="chrisbasketcase@hotmail.com">
            <input type="hidden" name="currency_code" value="USD">
            {% for item in products %}
                <input type="hidden" name="item_name_{{forloop.counter}}" value="{{item.0}}">
                <input type="hidden" name="quantity_{{forloop.counter}}" value="{{item.1}}">
                <input type="hidden" name="amount_{{forloop.counter}}" value="{{item.2}}">
            {% endfor %}
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" class='checkout-image'>
        </form>
    </div>
</main>

{% endblock content %}

{% include 'footer.html' %}