{% include 'base.html' %}
{% load static%}

{% block content %}

<main>
    <div class="title-card">
        <h1 class="title">Cart</h1>
    </div>

    <hr class='cart-items-bound'>
    <div class="cart-items">
        {% for item in products %}
            <div class="cart-item">
                <h1>{{item.0}}: {{item.1}}</h1>
            </div>
        {% endfor %}
    </div>
    <hr class='cart-items-bound'>
    <br>
    <div class="cart-nav">
        <form action="/shop/" class="cart-nav-form">
            <input type="submit" value="Keep Shopping" class="back-to-shop">
        </form>
        <form action="/checkout/" class="cart-nav-form">
            <input type="submit" value="Checkout" class="checkout">
        </form>
    </div>
</main>

{% endblock content %}

{% include 'footer.html' %}