{% include 'base.html' %}
{% load static%}

{% block content %}

<main>
    <div class="title-card">
        <a href="/shop/cart/">
            <img src="{% static "cart.png"%}" alt="shopping cart" class="shopping-cart">
        </a>
        <h1 class="title">Shop</h1>
    </div>

    <div class="product-section">
        {% for product in products %}
        <div class="product-container">
        <hr>
            <h3 class="product-title">{{product.title}}</h3>
            <div class="product-body">
                <div class="image-container">
                    <img class='product-image' src="{{product.image.url}}" alt="{{ product.title }}">
                </div>
                <div class="about-product">
                    <ul class="product-info">
                        <li class="product-price">${{product.price}}</li>
                        <li class="product-description">{{product.description}}</li>
                    </ul>
                    <form action="/shop/add/{{product.item_id}}/" method="post" class='add-to-cart-form'> {% csrf_token %} 
                        <input type="submit" value="Add to Cart" class="add-to-cart">
                    </form>
                </div>
            </div>
         </div>
    {% endfor %}

</main>

{% endblock content %}

{% include 'footer.html' %}
