{% include 'base.html' %}

{% block content %}

<main>
    <div class="title-card">
        <h1 class="title">Shop</h1>
    </div>

    <div class="product-section">
        {% for product in products %}
        <div class="product-container">
            <h3 class="product-title">{{product.title}}</h3>
            <img class='product-image' src="{{product.image.url}}" alt="{{ product.title }}">
            <ul class="product-info">
                <li class="product-price">$ {{product.price}}</li>
                <li class="product-description">{{product.description}}</li>
            </ul>
            <form action="/shop/add" method="post"> {% csrf_token %} 
            <input type="hidden" name="item_id" value="{{product.title}}">
                <input type="submit" value="Add to Cart" class="add-to-cart">
            </form>
         </div>
    {% endfor %}

</main>

{% endblock content %}

{% include 'footer.html' %}
