{% include 'base.html' %}
{% load static%}

{% block content %}

<main class='main'>
    <div class="title-card">
        <div class="cart-and-title">
            <div class="cart-logo">
                <a href="/shop/cart/">
                    <img src="{% static "cart.png"%}" alt="shopping cart" class="shopping-cart">
                </a>
            </div> 
            <h1 class="title">Shop</h1>
        </div>
        {% if cart_size > 0%}
            <p class='subtitle' >{{cart_size}} item{% if cart_size != 1 %}s{% endif %} in cart</p>
        {% endif %}
    </div>
    <div class="product-section">
        {% for product in products %}
            <div class="product-container">
                <hr class='product-separator'>
                <h3 class="product-title">{{product.title}}</h3>
                <div class="product-body">
                    <div class="image-container">
                        <img class='product-image' src="{{product.image.url}}" alt="{{ product.title }}">
                    </div>
                    <div class="about-product">
                        <ul class="product-info">
                            <li class="product-price">${{product.price}}</li>
                            <li class="product-description">{{product.description}}</li>
                        </ul>
                        <form action="/shop/add/{{product.item_id}}/" method="post" class='add-to-cart-form'> {% csrf_token %} 
                            <input type="submit" value="Add to Cart" class="add-to-cart">
                        </form>
                    </div>
                </div>
            </div>
        {% empty%}
        <p class='coming-soon' >Coming Soon!</p>
        {% endfor %}

</main>

{% endblock content %}

{% include 'footer.html' %}
