{% include 'base.html' %}

{% block content %}
<main class='main'>
    <div class="title-card">
        <h1 class="gallery-title">Gallery</h1>
    </div>

    <div class="gallery">
        {% for gallery_image in gallery_images %}
            <div class="gallery-image-container">
                <img class='gallery-image' src="{{gallery_image.image.url}}" alt="{{ gallery_image.title }}">
            </div>
        {% empty %}
        <p class="coming-soon">Coming Soon!</p>
        {% endfor %}
    </div>
    
    <div id="modal" class="modal">
        <span id="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
</main>
{% endblock content %}

{% include 'footer.html' %}